/*
    min-width: 196px;
    width: 196px;
    max-width: 196px;
    min-height: 39px;
    height: 39px;
    max-height: 39px;*/

#cntct-list div {
    cursor: pointer;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
    display: inline-block;
    background: #eee;
    text-align: center;
    line-height: 37px;
    min-width: 195px;
    padding: 0 10px 0 0;
    border: 1px solid;
    margin: 0 29px 29px 0;
}

#cntct-list div:before {
    content: "";
    background-image: url(socialsprite.png);
    display: inline-block;
    float: left;
    width: 67px;
    height: 38px;
}

#cntct-list div a {
    font-size:12px;
    line-height: 0;
    text-decoration:none;
    padding:0;
    margin:0;
    color:inherit;
}

.mail {
    color: #4d4d4d;
    border-color: #4d4d4d;
}

.mail:before {
    background-position: 0 0;
}

.twitter {
    color: #0c6b9d;
    border-color: #0c6b9d;
}

.twitter:before {
    background-position: -67px 0;
}

.steam {
    margin: 0 0 29px !important;
    color: #000;
    border-color: #000;
}

.steam:before {
    background-position: -134px 0;
}

.github {
    color: #464678;
    border-color: #464678;
}

.github:before {
    background-position: -201px 0;
}

.forrst {
    color: #223f17;
    border-color: #223f17;
}

.forrst:before {
    background-position: -268px 0;
}

.skype {
    margin: 0 0 29px !important;
    color: #1184c1;
    border-color: #1184c1;
}

.skype:before {
    background-position: -335px 0;
}